{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Liste des bulletins"|trans }} - GNT Pharma {% endblock %}
{% block salaire %}active{% endblock %}
{% block accompte %}active{% endblock %}

{% block body %}
    <div class="col-lg-10 mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-money-bill me-2"></i>
            {{ "En attente de paiement"|trans }}
        </h3>
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}
        <div id="flash"></div>

        <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
            <thead>
            <tr>
                <th>{{ 'Matricule'|trans }}</th>
                <th>{{ 'Employé'|trans }}</th>
                <th>{{ 'Date de validation'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for accompte in accomptes %}
                <tr id="tr{{ accompte.id }}">
                    <td>{{ accompte.employe.matricule }}</td>
                    <td>{{ accompte.employe.nom }} {{ accompte.employe.prenom }}</td>
                    <td>{{ accompte.date|date('d/m/Y') }}</td>
                    <td>{{ accompte.montant|number_format(0, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }} FCFA</td>
                    <td>
                        <button type="button" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#modal{{ accompte.id }}" id="btn{{ accompte.id }}">
                            <i class="fa fa-plus"></i>
                            {{ 'Payer'|trans }}
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ accompte.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered text-center">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title fs-5" id="exampleModalLabel">
                                            {{ 'Paiement salaire'|trans }}
                                        </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body px-5">
                                        <div class="mt-4">
                                            <label for="banque{{ accompte.id }}"></label>
                                            <select class="form-control" id="banque{{ accompte.id }}">
                                                <option value="0">Selectionnez une banque</option>
                                                {% for banque in banques  %}
                                                <option value="{{ banque.id }}">{{ banque.nom }}</option>
                                                {% else %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer px-5 py-4">
                                        <button type="button" class="btn btn-green me-3"  id="valider{{ accompte.id }}"
                                                onclick="payerOne({{ accompte.id }})">
                                            <i class="fa fa-save"></i>
                                            {{ 'Valider'|trans }}
                                        </button>
                                        <button type="button" class="btn btn-success-light" data-bs-dismiss="modal"
                                                id="annuler{{ accompte.id }}">
                                            <i class="fa-solid fa-rotate-left"></i>
                                            {{ 'Annuler'|trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
         
            </tbody>
        </table>
          
    </div>
   
    {% block scripts %}
        <script>
            function payerOne(id) {
                var banque = $("#banque"+id+" option:selected");
                if(banque.val() != "0") {
                    if (confirm("{{ 'Voulez-vous vraiement effetuer le paiement' }}")) {
                        $("#btn" + id).html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                        $("#valider" + id).html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                        $.ajax({
                            type: "POST",
                            url: "{{ path('finance_payeraccompte') }}",
                            data: { accompte : id, banque : banque.val() },
                            success: function (data) {
                                if (data['id'] == 'ok') {
                                    $("#annuler" + id).trigger('click');
                                    document.location.href = "{{ path('finance_accompte') }}";

                                }
                            },
                            error: function () {
                                alert('{{ "La requête n\'a pas abouti"|trans }}');
                            }
                        });
                    }
                }else alert("{{ 'Selectionnez une banque'|trans }}");

            }

        </script>
    {% endblock %}
{% endblock %}
