<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title> &nbsp; </title>
    <style>
        .titre {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            font-weight: bold;
            color: #039c4f;
        }

        .text {
            font-size: 14px;
        }

        @media print {
            .table-success-light {
                color: #000 !important;
            }

            .table-bordered {
                border: 1px solid #000 !important;
            }

            thead {
                background-color: #c5fbae !important;
                color: #000;
            }

            .td {
                display: inline-block;
                border: none;
                /*width: 150px !important;*/
            }
        }
    </style>

</head>
<body onload="print()" onafterprint="history.back()">
<div class="container-fluid">
    <div class="col-lg-8 offset-lg-2">
        <div class="row" style="border-bottom: 1px solid #039c4f;padding-bottom: 20px;">
            <div class="col-2">
                <img src="{{ asset('images/gntpharma.jpeg') }}" alt="Logo" class="w-100">
            </div>
            <div class="col-10 text-center">
                <div class="row">
                    <div class="col-12 titre text-center">
                        GNT PHARMA
                    </div>
                    <div class="col-12 text">
                        BP : 3582 Yaoundé – Cameroun, NGOUSSO
                        <br>
                        Montée Éleveur Immeuble Sainte Marie
                    </div>
                    <div class="col-12 text">
                        +237 69 71 49 4 12 / +237 67 52 47 865
                    </div>
                    <div class="col-12 text">
                        info@gntpharma-cameroun.com / www.gnt-pharma.com
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center fw-bold text-uppercase my-5">
            {{ "Balance journalier caisse"|trans }}
        </h3>
        <h4 class="text-success fw-bold mb-4">
            {{ 'Solde d\'ouverture : '|trans }} {{ouverture|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
        </h4>
          <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th  class="text-center" colspan="3">{{ "Encaissement"|trans }}</th>
                    </tr>
                    <tr>
                        <th class="text-center"> {{ 'Date'|trans }}</th>
                        <th>{{ 'Motif'|trans }}</th>
                        <th class="text-center">{{ 'Montant'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                     {% set montant1 = 0 %}
                    {% for credit in credits %}
                       
                        <tr>
                            <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {{ credit.date|date('d/m/Y') }}
                            </td>
                            <td data-label="{{ 'Libellé'|trans }}">
                                {{ credit.libelle}}
                            </td>
                            <td data-label="{{ 'Débit'|trans }}" class="text-end">
                                    {{ credit.montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                                    {% set montant1 = montant1 + credit.montant %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                    <tfooter>
                     <tr>
                        <th  class="text-center" colspan="3">
                       Total: {{ montant1|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        </th>
                    </tr>
                    </tfooter>
                </table>

                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th  class="text-center" colspan="3">{{ "Décaissement"|trans }}</th>
                    </tr>
                    <tr>
                        <th class="text-center"> {{ 'Date'|trans }}</th>
                        <th>{{ 'Motif'|trans }}</th>
                        <th class="text-center">{{ 'Montant'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                     {% set montant2 = 0 %}
                    {% for debit in debits %}
                       
                        <tr>
                            <td data-label="{{ 'Date'|trans }}" class="text-center">
                                    {{ debit.date|date('d/m/Y') }}
                            </td>
                            <td data-label="{{ 'Libellé'|trans }}">
                                  {{ debit.libelle}}
                            </td>
                            <td data-label="{{ 'Débit'|trans }}" class="text-end">
                                    {{ debit.montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                            {% set montant2 = montant2 + debit.montant %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                    <tfooter>
                     <tr>
                        <th  class="text-center" colspan="3">
                         Total: {{ montant2|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        </th>
                    </tr>
                    </tfooter>
                </table>
        <h4 class="text-success fw-bold mt-5">
            {{ 'Solde'|trans }} :
            <span class="text-nowrap">
                    {{ (caisse)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }} F CFA
                </span>
        </h4>
    </div>
</div>
</body>

</html>