{{ form_start(form, {'attr': {'id': 'form'}}) }}


    {% for message in app.flashes('notice') %}
        <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message|trans }}
        </div>
    {% endfor %}

<div class="row">

    <div class="col-12 mb-4">
        {{ form_row(form.employe, {'attr': {'placeholder': 'Employé *'}, 'label': false}) }}
    </div>
    <div class="col-12 mb-4">
        {{ form_row(form.duree, {'attr': {'placeholder': 'Entrez la durée *'}, 'label': false}) }}
    </div>
</div>
</div>
{{ form_end(form) }}
