{% extends
    'pdf.html.twig'
%}

    {% block contenu %}
<div class="container-fluid mt-4 fond-7">
    <h3 class="mt-4 mb-2 fw-bold">
        <i class="fa fa-shop me-2"></i>
        {{ "Promotion"|trans }}
    </h3>
     <table class="table table-success-light table-bordered table-hover table-striped w-100">
        <thead>
        <tr>
            <th>{{'Désignation'|trans}}</th>
            <th>{{'Date de début'|trans}}</th>
            <th>{{'Date de fin'|trans}}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Avantages'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ promotion.designation }}</td>
                <td>{{ promotion.debut ? promotion.debut|date('d/m/Y') : '' }}</td>
                <td>{{ promotion.fin ? promotion.fin|date('d/m/Y') : '' }}</td>
                <td>{{ promotion.type }}</td>
                <td>
                    {% if promotion.premier is null %}
                        {{ promotion.reduction }} % {{'de réduction'|trans}}

                    {% else %}
                        {{ promotion.premier }} {{ "pour"|trans }} {{ promotion.ugpremier }} {{ "gratuits"|trans }}<br>
                        {{ promotion.deuxieme }} {{ "pour"|trans }} {{ promotion.ugdeuxieme }} {{ "gratuits"|trans }}<br>
                        {{ promotion.troisieme }} {{ "pour"|trans }} {{ promotion.ugtroisieme }} {{ "gratuits"|trans }} <br>
                        {{ promotion.quatrieme }} {{ "pour"|trans }} {{ promotion.ugquatrieme }} {{ "gratuits"|trans }}<br>
                        {{ promotion.cinquieme }} {{ "pour"|trans }} {{ promotion.ugcinquieme }} {{ "gratuits"|trans }}<br>
                    {% endif %}
                </td>


        </tr>
        </tbody>
    </table>
</div>
        <div class="container-fluid mt-4 fond-7">
            <h3 class="mt-4 mb-5 fw-bold">
                <i class="fa-brands fa-product-hunt me-2"></i>
                {{ "Produits"|trans }}
            </h3>

            <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
                <thead>
                <tr>
                    <th>{{ 'CIP'|trans }}</th>
                    <th>{{ 'Désignation'|trans }}</th>
                    <th>{{ 'DCI'|trans }}</th>
                    <th>{{ 'Cession'|trans }}</th>
                    <th>{{ 'Public'|trans }}</th>
                    <th>{{ 'Commande'|trans }}<br> {{ 'Minimum'|trans }}</th>
                    <th>{{ 'Fabricant'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in promotion.produits %}
                    <tr>
                        <td>{{ produit.reference }}</td>
                        <td>{{ produit.desigantion }}</td>
                        <td>{{ produit.dci }}</td>
                        <td>{{ produit.prix|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                        <td>{{ produit.prixpublic|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                        <td>{{ produit.mincommande }}</td>
                        <td>{{ produit.fabriquant }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

</div>>
{% endblock %}
