{% extends 'client.html.twig' %}
{% block title %} {{ "Officine"|trans }} - GNT Pharma {% endblock %}
{% block officine %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fas fa-staff-snake fa-lg"></i>
            {{ "Officine"|trans }} :  {{ "Avoirs"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
         {% if is_granted("ROLE_CLIENT_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_officine') }}">{{ 'Facture'|trans }}</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="#">{{'Avoir'|trans}}</a>
            </li>
         {% if is_granted("ROLE_CLIENT_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('finance_avantage_client')}}">{{'Avantages'|trans}}</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_credit') }}">{{'Dette'|trans}}</a>
            </li>
        </ul>

         <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
        <thead>
            <tr>
                <th>{{ 'Date'|trans }}</th>
                {# <th>{{ 'Créer par'|trans }}</th> #}
                <th>{{ 'Montant'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for avoir in avoirs %}
            <tr>
                <td>{{ avoir.date ? avoir.date|date('d/m/Y') : '' }}</td>
                {# <td>{{ avoir.admin.nom }}</td> #}
                <td>{{ avoir.Montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                <td>
                    <a id="{{ avoir.id }}" onclick="load({{ avoir.id }})" class="btn btn-green" href="{{ path('avoir_show', {'id': avoir.id}) }}"><i class="fa fa-list"></i>
                        {{ 'Afficher'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}
