{% extends
   
    'client.html.twig'
%}
{% block title %} {{ "Officine"|trans }} - GNT Pharma {% endblock %}
{% block officine %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fas fa-staff-snake fa-lg"></i>
            {{ "Officine"|trans }} :  {{ "Dettes"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
         {% if is_granted("ROLE_CLIENT_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_officine') }}">{{ 'Facture'|trans }}</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('avoir_officine') }}">{{'Avoir'|trans}}</a>
            </li>
         {% if is_granted("ROLE_CLIENT_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('finance_avantage_client')}}">{{'Avantages'|trans}}</a>
            </li>
        {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="#">{{'Dette'|trans}}</a>
            </li>
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped w-100 mt-4" id="liste">
            <thead>
            <tr>
                <th>{{ 'Numero Commande'|trans }}</th>
                <th>{{ 'Date Commande'|trans }}</th>
                <th>{{ 'Date traitement'|trans }}</th>
                <th>{{ 'Montant Commande'|trans }}</th>
                <th>{{ 'Montant Restant'|trans }}</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td data-label="Numero Commande">{{ commande.id }}</td>
                    <td data-label="Date commande">{{ commande.date|date('d/m/Y H:i:s') }}</td>
                    <td data-label="Date  traitement">{{ commande.traitement|date('d/m/Y H:i:s') }}</td>
                    <td data-label="Montant Commande">{{ commande.montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td data-label="Montant Restant">{{ (commande.montant - commande.versement)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                      <td>
                   
                        <a id="{{ commande.id }}" onclick="load({{ commande.id }})" href="{{ path('commande_panier_Detail', {'commande' : commande.id}) }}" class="btn btn-success">
                        <i class="fa fa-money-bill"></i>
                            {{ 'Facture'|trans }}
                        </a>

                    </td>
                </tr>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
