{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig' %}
{% block title %} {{ "Bon de commande"|trans }} - BC{{ commande.id }}{{ commande.numerofacture }} {% endblock %}
{% block commande %}active{% endblock %}
{% block my_commande %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Bon de commande"|trans }}
        </h3>

        <a href="#" onclick="history.back()" class="btn btn-success-light mb-3">
            <i class="fa fa-chevron-left"></i> {{ "Retour"|trans }} </a>
        <h4 class="text-center fw-bold text-uppercase mt-4">
            {{ ' Bon de commande'|trans }}
        </h4>
        <h6 class="text-center text-uppercase">
            {{ 'Numero'|trans }} : BC{{ commande.id }}{{ commande.numerofacture }}
        </h6>
        <div class="contenu">
            <div class="row my-5">
                <div class="col-5"></div>
                <div class="col-7">
                    <table class="table table-success-light table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'Date'|trans }}</th>
                            <th>{{ 'N° Commande'|trans }}</th>
                            <th>{{ 'NIU'|trans }}</th>
                            <th>{{ 'RCCM'|trans }}</th>
                            {% if commande.credit == 1 and commande.payer == 0 %}
                                <th>{{ 'Echeance paiement'|trans }}</th>
                            {% endif %}
                            <th>{{ 'Passé par'|trans }}</th>
                            {#            <th>Date de Livraison</th> #}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ commande.date|date('d/m/Y H:m:s') }}</td>
                            <td>{{ commande.id }}</td>
                            <td>{{ commande.user.niu }}</td>
                            <td>{{ commande.user.rccm }}</td>
                            {% if commande.credit == 1 and commande.payer == 0 %}
                                <td>  {{ commande.echeance ? commande.echeance|date('d/m/Y'): '' }}</td>
                            {% endif %}
                            <td>{{ commande.pharmaemploye ? commande.pharmaemploye.nom ~" "~ commande.pharmaemploye.prenom : commande.user.nom ~" "~ commande.user.prenom }}</td>
                            {# <td class="fw-bold">
                        {% if commande.payer == 0 %}
                            <span class="text-danger">Non payée</span>
                        {% else %}
                            <span class="text-success">Payée</span>
                        {% endif %}
                    </td> #}
                            {#        <td> </td> #}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% set total=0 %}
            {% set reduction=0 %}
            {% set tva=0 %}
            <table class="table table-success-light table-bordered table-hover table-striped text-center w-100 my-4">
                <thead>
                <tr>
                    <th>{{ 'CIP'|trans }}</th>
                    <th class="text-start">{{ 'Désignation'|trans }}</th>
                    <th>{{ 'Quantité'|trans }}<br>{{ 'commandée'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for commandeproduit in commandeproduits %}
                    {% set reductionproduit = 0 %}
                    <tr>
                        <td> {{ commandeproduit.produit.reference }} </td>
                        <td class="text-start">{{ commandeproduit.produit.desigantion }} </td>
                        <td>
                            {{ commandeproduit.quantite }}
                            {% if commandeproduit.ug != 0 %}
                                <br>
                                <span class="badge bg-danger">
                                    + {{ commandeproduit.ug }} U.G
                            </span>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="container mb-5 p-3 fond-5">
        <div class="centrer gap-3">
            <a id="print" onclick="load('print')"
               href="{{ path('commande_panier_print_Bon',{'commande': commande.id }) }}"
               class="btn btn-success">
                <i class="fa fa-print"></i>
                {{ "Imprimer"|trans }}
            </a>
            <a id="pdf" onclick="load('pdf')" target="_blank"
               href="{{ path('commande_panier_bon_pdf',{'commande': commande.id }) }}"
               class="btn btn-danger">
                <i class="fa fa-file-pdf"></i>
                {{ "Vers Pdf"|trans }}
            </a>
        </div>
    </div>

{% endblock %}
