{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Tous les produits"|trans }} - GNT Pharma {% endblock %}
{% block laboratoire %}active{% endblock %}
{% block all_produits %}active{% endblock %}

{% block body %}
<div class="container-fluid mt-4 mb-5 p-3 fond-7">
   
       <h3 class="mt-4 mb-5 fw-bold">
        <i class="fa-solid fa-flask-vial me-2"></i>
        {{ "Statistique Laboratoire"|trans }}
    </h3>
    <ul class="nav nav-tabs mb-4">
  
        <li class="nav-item">
            <a class="nav-link active" href="">
                {{ 'Produits'|trans }}
            </a>
        </li>
      
        <li class="nav-item">
            <a class="nav-link" href="{{ path('laboratoire_mensuel', {'id' : laboratoire.id}) }}">
                {{'Mensuel'|trans}}
            </a>
        </li>
    </ul>
    {% for message in app.flashes('notice') %}
    <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message|trans }}
    </div>
    {% endfor %}
    {% if is_granted("ROLE_LABORATOIRE") %}
        <a href="{{ path('produit_new') }}" class="btn btn-green my-4">
            <i class="fa fa-plus"></i>
            {{ "Nouveau"|trans }}
        </a>
    {% endif %}
    <table class="table table-success-light table-bordered table-hover table-striped w-100 text-center my-3" id="liste">
        <thead>
            <tr>
                <th>{{ 'CIP'|trans }}</th>
                <th class="text-start">{{ 'Désignation'|trans }}</th>
                <th>{{ 'DCI'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% set produits = laboratoire.produits %}
            {% for produit in produits %}
            <tr>
                <td>{{ produit.reference }}</td>
                <td class="text-start">{{ produit.desigantion }}</td>
                <td>{{ produit.dci }}</td>
                <td class="text-nowrap">
                    <a id="{{ produit.id }}" onclick="load({{ produit.id }})" class="btn btn-success" title="{{ 'Voir'|trans }}" href="{{ path('laboratoire_produit_show', {'id': produit.id, 'laboratoire' : laboratoire.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}