{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-edit me-2"></i>
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Modification Commande"|trans }}
        </h3>

        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
         {% endfor %}
          <div class="row">
            <div class="col-md-12">
                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'N° Commande'|trans }}</th>
                        <th>{{ 'Client'|trans }}</th>
                         <th>{{ 'NIU'|trans }}</th>
                         <th>{{ 'RCCM'|trans }}</th>
                        {% if commande.credit == 1 and commande.payer == 0 %}
                        <th>{{ 'date d\'echeance de paiement'|trans }}</th>
                        {% endif %}
                        <th>{{ 'Status Commande'|trans }}</th>
                        {#            <th>Date de Livraison</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    <td>{{ commande.date|date('d/m/Y') }}</td>
                    <td>{{ commande.id }}</td>
                     <td>{{ commande.user.nom ~" "~ commande.user.prenom }}</td>
                     <td>{{ commande.user.niu }}</td>
                     <td>{{ commande.user.rccm }}</td>
                         {% if commande.credit == 1 and commande.payer == 0 %}
                             <td> {{ commande.echeance ? commande.echeance|date('d/m/Y'): ''  }}</td>
                        {% endif %}
                    <td class="fw-bold">
                        {% if commande.payer == 0 %}
                            <span class="text-danger">Non payée</span>
                        {% else %}
                            <span class="text-success">Payée</span>
                        {% endif %}
                    </td>
                    {#        <td> </td>#}
                    </tbody>
                </table>
            </div>
        </div>
         <form action="{{ path('commande_panier_confirm_modification', {'commande' : commande.id}) }}" method="POST" id="form"  enctype="multipart/form-data">
        <table class="table table-success-light table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
                <th>{{ 'Référence'|trans }}</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'Quantité'|trans }}</th>
                <th>{{ 'Nouvelle Quantité'|trans }}</th>
                <th>{{ 'Prix Cession'|trans }}</th>
                <th>{{ 'Réduction'|trans }}</th>
                <th>{{ 'TVA'|trans }}</th>
                <th>{{ 'Prix Public'|trans }}</th>
                {# <th>{{ 'Total'|trans }}</th> #}
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% set reduction=0 %}
            {% set tva=0 %}
           
            {% for produit in panier %}
                {% set reductionproduit = 0 %}
                <tr>
                    <td data-label="Référence">{{ produit.produit.reference }}</td>
                    <td data-label="Désignation">{{ produit.produit.desigantion }}</td>
                    <td data-label="Quantité" class="text-center" id="tdprod{{ produit.produit.id }}">
                        {{ produit.quantite }}
                    </td>
                    <td data-label="Stock">
                        <input type="number" id="{{produit.produit.id}}" 
                        {% if  produit.produit.stock < produit.quantite %} value="{{ produit.produit.stock }}"
                        {% else %} value="{{ produit.quantite }}"
                        {% endif %}
                         name="{{ produit.produit.id}}"
                         class="form-control" style="vertical-align: middle; margin: auto; width: 80px; height: 40px;"/>
                    </td>
                    <td data-label="Prix Cession">{{ produit.produit.prix|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td data-label="Réduction">
                        {% if produit.produit.promotion is not null %}
                            {% if produit.produit.promotion.reduction != 0 %}
                                {% set reductionproduit =  produit.quantite * produit.produit.prix * produit.produit.promotion.reduction /100 %}

                                {% set reduction =  reduction + reductionproduit %}
                                <span class="badge bg-danger">
                                    -{{ produit.produit.prix * produit.produit.promotion.reduction /100 }} F
                            </span>
                            {% else %}
                                -
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td data-label="TVA">
                        {% if produit.produit.tva == 1 %}
                            {% set tva = tva + (((produit.quantite * produit.produit.prix) - reductionproduit) * 0.1925) %}
                            {{ (produit.produit.prix - (produit.produit.prix * produit.produit.promotion.reduction /100)) * 0.1925 }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td data-label="Prix Public">{{ produit.produit.prixpublic|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>

                    {# <td data-label="Total" class="text-center" id="soustotal{{ produit.produit.id }}">
                        {{ (produit.produit.prix * produit.quantite)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        {% set total = total + (produit.produit.prix * produit.quantite) %}
                       

                    </td> #}
                </tr>
            {% endfor %}
            
            {# <tr class="fw-bold">
                <td colspan="8" class="text-end">
                    {{ "Total"|trans }}
                </td>
                <td class="text-center">
                    <span id="">{{ total|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ total }}" id="totaltamp"/>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Total Réduction"|trans }}
                </td>
                <td class="text-center">
                    <span id="">{{ reduction|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ reduction }}" id="totaltamp"/>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Total TVA"|trans }}
                </td>
                <td class="text-center">
                    <span id="">{{ tva|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ tva }}" id="totaltamp"/>
                </td>
            </tr>
            {% set acompte = 0 %}
            {% if prelevement == true %}
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Prélèvement (2%)"|trans }}
                </td>
                <td class="text-center">
                {% set acompte = total * 0.02 %}
                    <span id="">{{ acompte|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ tva }}" id="totaltamp"/>
                </td>
            </tr>
            {% endif %}
            <tr class="fw-bold">
                <td colspan="8" class="text-end fw-bold">
                    {{ "Net à payer"|trans }}
                </td>
                <td class="text-center">
                    <span class="fw-bold">{{ (total + acompte + tva - reduction)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <span id="total" class="text-nowrap" style="display:none;">{{ (total + acompte + tva - reduction)|number_format(2, '.' , '') }}</span>
                    <input type="hidden" value="{{ total }}" id="totaltamp"/>
                </td>
            </tr>       
                        /***Conversion prix en lettre **/
            <tr>
                <td colspan="9" class="text-end">
                    <span id="total" class="fw-bold"></span>
                    {{'Arrêtée la présente à la somme de'|trans}} <b id="conversion"> </b><b id="virgule"></b> <b>francs CFA TTC</b>
                </td>
            </tr> #}
            {#/***** end*****/#}
            </tbody>
        </table>
</form>

    </div>
    <div class="container mt-4 mb-5 pt-3 pb-3 fond-7">
        <div class="centrer">
            <div class="row">
                {# {{ include('commande/admin/_confirmation_admin_promo.html.twig')}} #}
                <button id="send" onclick="envoie()" 
                   class="ms-3 btn btn-success float-end">
                    <i class="fa fa-money-bill">

                    </i> {{ "Valider"|trans }}
                </button>


            </div>
        </div>
    </div>
{% endblock %}

