{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Nouvelle Commande"|trans }} - GNT Pharma {% endblock %}
{% block produit %}active{% endblock %}
{% block all_produits %}active{% endblock %}

{% block body %}

    <div class="col-lg-8 justify-content-center fond-7 my-5 p-4">
        <h4 class="fw-bold mb-5">
            <i class="fa fa-upload"></i>
            {{ 'Importation Commande en tenant compte des promos'|trans }}
        </h4>
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}

         {{ form_start(form,{'attr' : { 'id' : 'formimport'}}) }}
                <div class="col-md-12 fw-bold">
        {{ form_row(form.user, {'label':'Selectionnez client'}) }}
    </div>
    <div class="col-md-12 fw-bold mt-3">
        {{ form_widget(form.import, {'label':'importer un fichier'}) }}
    </div>
               
        {# <form method="POST" action="{{ path('adminimportation')}}" enctype="multipart/form-data" id="form"> #}
            {# <input type="file" name="import" id="import" class="form-control mt-3"> #}
            {# </form> #}
        <div class="col-lg-4 justify-content-center fond-7 my-5 p-3">
                <div class="centrer gap-4">
                    <button type="button" class="btn btn-success mt-3" id="send" onclick="importcommande()"><i class="fa fa-upload"></i> Suivant</button>
        
                </div>
            </div>
             {{ form_end(form) }}
    </div>
    
    {# {{ form_end(form) }} #}

{% endblock %}
