{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}
{% block suivi %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Suivi des commandes"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_suivi') }}">{{ 'Validation paiement'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{'Validation crédit'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_credit') }}">{{'Commandes à crédit'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_history') }}">{{'Commandes déjà payées'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_releve') }}">
                    {{'Relevé Factures'|trans}}
                </a>
            </li>
        </ul>
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100 mt-4" id="liste">
            <thead>
            <tr>
                <th>{{'Numero Commande'|trans}}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Client'|trans }} </th>
                <th>{{ 'Montant'|trans }}</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date|date('d/m/Y H:s:i') }}</td>
                    <td> {{ commande.user.nom }}</td>
                    <td>{{ commande.montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td class="text-nowrap">
                        <a href="{{ path('commande_panier_paiement_credit', {'commande' : commande.id}) }}" class="btn btn-success">
                            <i class="fa fa-gears"></i> {{ 'Traitement'|trans }}
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                       {{ include('commande/admin/commande_delete.html.twig')}}
                        {% endif %}
                        
                         <a id="b{{ commande.id }}" onclick="load('b{{ commande.id }}')" href="{{ path('commande_panier_bon', {'commande' : commande.id}) }}" class="btn btn-success">
                        <i class="fa fa-list"></i>
                            {{ 'Bon'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
