{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Nouvelle ligne de dépense"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block paie %}active{% endblock %}
{% block accompte %}active{% endblock %}

{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 fw-bold">
       <i class="fa-solid fa-money-check-dollar"></i>
        {{ "Gestion des Accompte"|trans }}
    </h3>
 <a class="btn btn-success mb-3" href="{{ path('app_accompte_new') }}"><i class="fa fa-plus"></i> {{ "Nouveau Accompte"|trans }}</a>

    <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'Non payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_accompte_paye') }}">
                    {{ 'déja payées'|trans }}
                </a>
            </li>
        </ul>
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}


     <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
        <thead>
            <tr>
               
                <th>Date</th>
                <th>Employe</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accompte in accomptes %}
            <tr>
                <td>{{ accompte.date ? accompte.date|date('d/mY') : '' }}</td>
                <td>{{ accompte.employe.prenom }} {{ accompte.employe.nom }}</td>
                <td>{{ accompte.montant|number_format(0, '', ' ') }}</td>
                <td>
                {% if accompte.verser == 0 %}
                    <a class="btn btn-success" href="{{ path('app_accompte_edit', {'id': accompte.id}) }}"> <i class="fa fa-edit"></i> </a>
                     {{ include('accompte/_delete_form.html.twig') }}
                {% endif%}
                </td>
            </tr>
        {% else %}
           
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
