{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig' %}

{% block title %} {{ 'Laboratoire'|trans }} - GNT Pharma {% endblock %}
{% block laboratoire %}active{% endblock %}

{% block body %}
    <div class="container fond-7">
        <h4 class="fw-bold mb-5">
            <i class="fa-solid fa-flask-vial me-2"></i>
            {{ 'Laboratoire'|trans }}
        </h4>
        <a class="btn btn-green mb-4" href="{{ path('app_laboratoire_new') }}">
            <i class="fa fa-plus"></i>
            {{ 'Nouveau laboratoire'|trans }}
        </a>
        <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
            <thead>
            <tr>
                <th>{{ 'Laboratoire'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Adresse'|trans }}</th>
                <th>{{ 'Boite postale'|trans }}</th>
                <th>{{ 'Site web'|trans }}</th>
                <th class="text-center">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for laboratoire in laboratoires %}
                <tr>
                    <td data-label="{{ 'Laboratoire'|trans }}">{{ laboratoire.prenom }} {{ laboratoire.nom }}</td>
                    <td data-label="{{ 'Email'|trans }}">{{ laboratoire.email }}</td>
                    <td data-label="{{ 'Téléphone'|trans }}">{{ laboratoire.phone }}</td>
                    <td data-label="{{ 'Adresse'|trans }}">{{ laboratoire.adresse }}</td>
                    <td data-label="{{ 'Boite postale'|trans }}">{{ laboratoire.boitepostale }}</td>
                    <td data-label="{{ 'Site web'|trans }}">{{ laboratoire.siteweb }}</td>
                    <td data-label="{{ 'Actions'|trans }}" class="center gap-3">
                        <a class="btn btn-success" href="{{ path('app_laboratoire_show', {'id': laboratoire.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-success-light" href="{{ path('app_laboratoire_edit', {'id': laboratoire.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
