{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ 'statistique produit: '|trans }}  - GNT Pharma {% endblock %}
{% block laboratoire %}active{% endblock %}
{% block body %}
<div class="container mt-4 fond-7">
     <h3 class="mt-4 mb-5 fw-bold">
        <i class="fa-solid fa-flask-vial me-2"></i>
        {{ "Statistique Laboratoire"|trans }}
    </h3>
    <ul class="nav nav-tabs mb-4">
  
        <li class="nav-item">
            <a class="nav-link active" href="">
            {{ 'Produits'|trans }}
            </a>
        </li>
      
        <li class="nav-item">
            <a class="nav-link" href="{{ path('laboratoire_mensuel', {'id' : laboratoire.id}) }}">
                {{'Mensuel'|trans}}
            </a>
        </li>
    </ul>
     <div class="centrer fond-7">
                {# <a href="{{ path('fournisseur_analyse_print', {'date1': day1|date('Y-m-d'),'date2': day2|date('Y-m-d')}) }}" class="btn btn-success-light">
                    <i class="fa fa-print"></i>
                    {{ 'imprimer'|trans }}
                </a>#}
                 <a target="_blank" href="{{ path('laboratoire_produit_show_pdf', {'laboratoire' : laboratoire.id, 'id': produit.id}) }}" class="btn btn-danger ms-3">
                    <i class="fa fa-file-pdf"></i>
                    {{ 'vers Pdf'|trans }}
                </a>
            </div>
               <table class="table table-success-light table-bordered table-hover table-striped mt-3 text-center">
       <thead>
            <tr>
                <th colspan="7">STATISTIQUE DE VENTE {{ produit.desigantion }}</th>
            </tr>
            <tr>
                <th>{{"mois"|trans}}</th>
                <th>{{"Designation"|trans}}</th>
                <th>{{"Stock de depart"|trans}}</th>
                <th>{{"Stock au debut du mois"|trans}}</th>
                <th>{{"Stock a la fin du mois"|trans}}</th>
                <th>{{"Quantite vendue du mois"|trans}}</th>
                <th>{{"% de vente"|trans}}</th>
            </tr>
       </thead>
        <tbody>
        {% for mois, livrerproduit in livrerproduits %}
            <tr>
                <td>{{ mois|date("m/Y") }}</td>
                <td>{{ produit.desigantion }}</td>
                {% set stk = stocklabo(produit, mois) %}
                <td>{{ stk.depart|number_format(0,'', ' ') }}</td>
                <td>{{ stk.debut|number_format(0,'', ' ') }}</td>
                <td>{{ (stk.debut - stk.vente)|number_format(0,'', ' ') }}</td>
                <td>{{ stk.vente|number_format(0,'', ' ') }}</td>
                <td>{{ (stk.vente * 100 / stk.depart)|number_format(4, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
            </tr>
        {% endfor %}
       </tbody> 
       </table> 
</div>
{% endblock %}
