{% extends 'client.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block produit %}active{% endblock %}
{% block promo %}active{% endblock %}
{% block start %} onkeyup="entrer()" {% endblock %}
{% block body %}
    <div class="container-fluid mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa-brands fa-product-hunt me-2"></i>
            {{ "Liste Produits en promotion"|trans }}
        </h3>
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}

        <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
            <thead>
            <tr>
                <th>{{ 'CIP'|trans }}</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'DCI'|trans }}</th>
                <th>{{ 'Colissage'|trans }}</th>
                <th>{{ 'Prix Cession'|trans }}</th>
                <th>{{ 'Prix Public'|trans }}</th>
                <th>{{ 'Quantite'|trans }}</th>
                <th>{{ "Actions"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.reference }}</td>
                    <td>{{ produit.desigantion }}
                        {% if produit.promotion is not null %}
                                    {# {{ "indisponible"|trans }} #}
                                  
                                <div class="dropdown d-inline">
                                <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Promo
                                </button>
                                <ul class="dropdown-menu text-center">
                                {% if produit.promotion.premier is not null %}
                                    <li><b>{{produit.promotion.premier}} pour {{produit.promotion.ugpremier}} {{'U.G'|trans}}</b></li>
                                    <li><b>{{produit.promotion.deuxieme}} pour {{produit.promotion.ugdeuxieme}} {{'U.G'|trans}}</b></li>
                                    <li><b>{{produit.promotion.troisieme}} pour {{produit.promotion.ugtroisieme}} {{'U.G'|trans}}</b></li>
                                    <li><b>{{produit.promotion.quatrieme}} pour {{produit.promotion.ugquatrieme}} {{'U.G'|trans}}</b></li>
                                    <li><b>{{produit.promotion.cinquieme}} pour {{produit.promotion.ugcinquieme}} {{'U.G'|trans}}</b></li>
                                     {% else %}
                                    <li><b>{{ "Reduction de"|trans}} {{produit.promotion.reduction}}%</b></li>
                                    {% endif %}
                                    <li>{{"jusqu'au"|trans}} <h6 class="d-inline"><b>{{produit.promotion.fin|date('d/m/Y')}}</b></h6></li>
                                </ul>
                                </div>
                        {% endif %}
                    </td>
                    <td>{{ produit.dci }}</td>
                    <td class="text-center">{{ produit.colisage }}</td>
                    <td>{{ produit.prix|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>{{ produit.prixpublic|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    
                    {% set tamp ='no' %}
                    <td class="text-center" id="tdprod{{ produit.id }}">

                        {% for pan in panier %}
                            {% if pan['produit'].id == produit.id %}
                                {% set tamp = pan['produit'].quantite %}
                            {% endif %}
                        {% endfor %}
                        {% if tamp != 'no' %}
                            {{ tamp }}
                        {% else %}
                            {% if produit.stock <= produit.mincommande %}
                                    {# {{ "indisponible"|trans }} #}
                                    <button type="button" class="btn btn-outline-danger"> {{ "Rupture"|trans }}</button>
                            {% else %}
                                <input type="number" id="text{{ produit.id }}" class="form-control"
                                    onfocus="focu({{ produit.id }}, {{ produit.mincommande }}, {{ produit.stock }})" onblur="nofocu()"
                                    style="vertical-align: middle; margin: auto; width: 80px; height: 40px;" {% if produit.stock <= produit.mincommande %} disabled {% endif %}>
                                <label for="text{{ produit.id }}"></label>
                            
                                    
                                {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if tamp != 'no' %}
                            <button type="button" class="btn btn-success disabled" id="btn{{ produit.id }}">
                                <i class="fa fa-cart-shopping"></i>
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn btn-success{% if produit.stock <= produit.mincommande %} disabled {% endif %}"
                                    id="btn{{ produit.id }}"
                                    onclick="addinPanier({{ produit.id }}, {{ produit.mincommande }}, {{ produit.stock }})">
                                <i class="fa fa-cart-shopping"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
         <input type="hidden" id="tampon"/>
        <input type="hidden" id="min"/>
        <input type="hidden" id="stock"/>
    </div>
{% endblock %}
