{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block client_suivi %} active{% endblock %}
{% block palamares %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
        <i class="fas fa-chart-line me-2"></i>
        {{ "Analyse Client"|trans }} | {{ user.nom ~ " " ~ user.prenom}} 
    </h3>
         <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('vente_chiffre_client', {'client': user.id})}}">
                {{ "Chiffre d'Affaire"|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('vente_client_article',{'client' :user.id}) }}">
                {{'Articles'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('commande_panier_palmares_credit',{'client' :user.id}) }}">
                {{'Factures Impayées'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('commande_panier_palmares_payer',{'client' :user.id}) }}">
                {{'Factures Payees'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('finance_avantage_client_palmares',{'client' :user.id}) }}">
                {{'Avantages'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('finance_journal_client',{'client' :user.id}) }}">
                {{'Compte'|trans}}
            </a>
        </li>
    </ul>
       <table class="table table-success-light table-bordered table-hover table-striped mt-3" id="liste">
       <thead>
            <tr>
                <th>{{"Période"|trans}}</th>
                <th>{{"C.A."|trans}}</th>
                <th>{{"Achat Comptant"|trans}}</th>
                <th>{{"Commission"|trans}}</th>
                <th>{{"Ristourne"|trans}}</th>
                <th>{{"Escompte"|trans}}</th>
                <th>{{"total"|trans}}</th>
            </tr>
       </thead>
        <tbody>
            {% for avantage in avantages %} 
        
                <tr>
                    <td>{{avantage.AveCom.debut|date("d/m/Y") }} - {{avantage.AveCom.fin|date("d/m/Y") }}</td>
                    <td>{{avantage.ca|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>{{avantage.achat|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>{{avantage.commission|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>{{avantage.ristourne|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>{{avantage.escompte|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>{{(avantage.commission + avantage.ristourne + avantage.escompte)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                </tr>
            {% else %}
            {% endfor %}
        </tbody>
       </table> 
    </div>
{% endblock %}