{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block client_suivi %} active{% endblock %}
{% block palamares %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
        <i class="fas fa-chart-line me-2"></i>
        {{ "Analyse Client"|trans }} | {{ user.nom ~ " " ~ user.prenom}} 
    </h3>
         <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('vente_chiffre_client', {'client': user.id})}}">
                {{ "Chiffre d'Affaire"|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('vente_client_article',{'client' :user.id}) }}">
                {{'Articles'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('commande_panier_palmares_credit',{'client' :user.id}) }}">
                {{'Factures Impayées'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                {{'Factures Payees'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('finance_avantage_client_palmares',{'client' :user.id}) }}">
                {{'Avantages'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('finance_journal_client',{client :user.id}) }}">
                {{'Compte'|trans}}
            </a>
        </li>
    </ul>
<table class="table table-success-light table-bordered table-hover table-striped mb-3">
        <thead>
        
      
         <tr>
            <th  class="text-center"><b>{{ montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',')  }}</b></th>
        </tr>
        </thead>
        
    </table>
        <table class="table table-success-light table-bordered table-hover table-striped w-100 mt-4" id="liste">
            <thead>
            <tr>
                <th>{{ 'Numero Commande'|trans }}</th>
                <th>{{ 'Date Commande'|trans }}</th>
                <th>{{ 'Date traitement'|trans }}</th>
                <th>{{ 'Montant Commande'|trans }}</th>
                <th>{{ 'Montant Restant'|trans }}</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td data-label="Numero Commande">{{ commande.id }}</td>
                    <td data-label="Date commande">{{ commande.date|date('d/m/Y H:i:s') }}</td>
                    <td data-label="Date  traitement">{{ commande.date|date('d/m/Y H:i:s') }}</td>
                    <td data-label="Montant Commande">{{ commande.montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td data-label="Montant Restant">{{ (commande.montant - commande.versement)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                      <td>
                   
                        <a id="{{ commande.id }}" onclick="load({{ commande.id }})" href="{{ path('commande_panier_Detail', {'commande' : commande.id}) }}" class="btn btn-success">
                        <i class="fa fa-money-bill"></i>
                            {{ 'Facture'|trans }}
                        </a>

                    </td>
                </tr>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-success-light table-bordered table-hover table-striped mb-3">
        <thead>
        
      
         <tr>
            <th  class="text-center"><b>{{ montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',')  }}</b></th>
        </tr>
        </thead>
        
    </table>
    </div>

{% endblock %}
