{% extends
    'pdf.html.twig'
%}

{% block contenu %}
    <h3 class="mt-4 mb-5 fw-bold text-center">
        <i class="fa fa-shopping-cart me-2"></i>
        {{ "Palmares des ventes"|trans }}
    </h3>
     <table class="table table-success-light table-bordered table-hover table-striped mb-3">
        <thead>
        
       <tr>
            <th>{{ produit.reference }}</th>
            <th>{{ produit.desigantion }}</th>
            <th>{{ produit.dci }}</th>
            <th>{{ produit.fabriquant }}</th>
        </tr
        <tr>
        <td colspan="4"></td>
        </tr>
         <tr>
            <th colspan="2"  class="text-center"><b>{{ "Quantité Totale Vendue"|trans}}: {{ quantite|number_format(0, '', ' ') }} ---> </b>  <b>{{ "U.G"|trans}}: {{ totalug|number_format(0, '', ' ') }}</b></th>
            <th colspan="2"  class="text-center"><b>{{ "Chiffre d'affaire"|trans}}: {{ montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</b></th>
        </tr>
        </thead>
        
    </table>
   

    <table class="table table-success-light table-bordered table-hover table-striped my-3">
        <thead>
        
        <tr>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'commande'|trans }}</th>
            <th>{{ 'Quantité vendue'|trans }}</th>
            <th>{{ 'U.G'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set tug = 0 %}
        {% for produit in ventes %}
            <tr>
                <td>{{ produit.commande.date|date("d/m/Y") }}</td>
                <td>
                 <a id="b{{ produit.commande.id }}" onclick="load('b{{ produit.commande.id }}')" href="{{ path('commande_panier_bon', {'commande' : produit.commande.id}) }}" class="btn btn-success">
                 {{ produit.commande.id }}
                </a>
                </td>
                <td>{{ produit.quantite|number_format(0,',' , ' ') }}</td>
                 <td>
                {% set ug = 0 %}
                {% set commande = produit %}
                 {{ commande.ug != 0 ? commande.ug : "" }}
                                    {% set tug = tug + commande.ug %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tr>
            <th colspan="2"  class="text-center">{{ "Quantité Totale Vendue"|trans}}: {{ quantite|number_format(0, '', ' ') }}</th>
            <th  class="text-center">{{ "Chiffre d'affaire"|trans}}: {{ montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</th>
            <th  class="text-center">{{ "U.G"|trans}}: {{ tug|number_format(0, '', ' ') }}</th>
        </tr>
    </table>
{% endblock %}
