<form class="d-inline-block" method="post" action="{{ path('commande_deletein', {'id': produit.produit.id}) }}" id="form{{produit.produit.id}}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.produit.id) }}">
    <button class="btn btn-danger" id="del{{produit.produit.id}}" onclick="delprod({{produit.produit.id}})"><i class="fa fa-trash"></i></button>
</form>
