{% extends 'client.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Validation de la commande"|trans }}
        </h3>


        <table class="table table-success-light table-bordered table-hover table-striped w-100">
            <thead>
            <tr>
                <th>{{ 'CIP'|trans }}</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'Colisage'|trans }}</th>
                <th>{{ 'Prix Cession'|trans }}</th>
                <th>{{ 'Réduction'|trans }}</th>
                <th>{{ 'TVA'|trans }}</th>
                <th>{{ 'Prix Public'|trans }}</th>
                <th>{{ 'Quantité'|trans }}</th>
                <th>{{ 'Total'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% set reduction=0 %}
            {% set tva=0 %}
            {% for produit in panier %}
                {% set reductionproduit = 0 %}
                <tr>
                    <td>{{ produit['produit'].reference }}</td>
                    <td>{{ produit['produit'].desigantion }}</td>
                    <td>
                    {% if  produit.colisage %}
                        Carton
                    {% else %}
                        piece
                    {% endif %}
                    </td>
                    <td>
                        {% if produit.colisage %}
                            {{ (produit.produit.colisage * produit['produit'].prix)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        {% else %}
                            {{ produit['produit'].prix|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        {% endif %}
                    </td>
                    <td data-label="Réduction">
                        {% if produit['produit'].promotion is not null %}
                            {% if produit['promotion'] != 0 %}
                                {% if produit.colisage %}
                                     {% set reductionproduit = produit.produit.colisage * produit['produit'].quantite * produit['produit'].prix * produit['promotion'] /100 %}
                                {% else %}
                                    {% set reductionproduit =  produit['produit'].quantite * produit['produit'].prix * produit['promotion'] /100 %}
                                {% endif %}
                                
                                {% set reduction =  reduction + reductionproduit %}
                                <span class="badge bg-danger">
                                    -{{ produit['produit'].prix * produit['promotion'] /100 }} F
                                </span>
                            {% else %}
                                -
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                     <td data-label="TVA">
                        {% if produit['produit'].tva == 1 %}
                        {% set tvaprod = 0 %}
                            {% if produit.colisage %}
                                {% set tvaprod = ((produit.produit.colisage * produit['produit'].quantite * produit['produit'].prix) - reductionproduit) * 0.1925 %}
                            {% else %}
                                 {% set tvaprod = ((produit['produit'].quantite * produit['produit'].prix) - reductionproduit) * 0.1925 %}
                             {% endif %}
                             {% set tva = tva + tvaprod %}

                            {{ tvaprod|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ produit.produit.prixpublic|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>

                    <td class="text-center" id="tdprod{{ produit.produit.id }}">


                        {{ produit['produit'].quantite }}


                    </td>
                   <td data-l="Total" class="text-center" id="soustotal{{ produit.produit.id }}">
                        {% if produit.colisage %}
                            {{ (produit.produit.colisage * produit['produit'].prix * produit['produit'].quantite)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                            {% set total = total + (produit.produit.colisage * produit.produit.prix * produit['produit'].quantite) %}
                        {% else %}
                            {{ (produit['produit'].prix * produit['produit'].quantite)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                            {% set total = total + (produit.produit.prix * produit['produit'].quantite) %}
                        {% endif %}
                        

                    </td>
                </tr>
            {% endfor %}
            <tr class="fw-bold">
                <td colspan="8" class="text-end">
                    {{ "Total"|trans }}
                </td>
                <td class="text-center text-nowrap">
                    <span id="">{{ total|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ total }}" id="totaltamp"/>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Total Réduction"|trans }}
                </td>
                <td class="text-center">
                    <span id="">{{ reduction|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ reduction }}" id="totaltamp"/>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Total TVA"|trans }}
                </td>
                <td class="text-center">
                    <span id="">{{ tva|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ tva }}" id="totaltamp"/>
                </td>
            </tr> 
            {% set acompte = 0 %}
            {% if app.user.prelevement == true %}
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Prélèvement (2%)"|trans }}
                </td>
                <td class="text-center">
                {% set acompte = total * 0.02 %}
                    <span id="">{{ acompte|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ tva }}" id="totaltamp"/>
                </td>
            </tr>
            {% endif %}
            <tr class="fw-bold">
                <td colspan="8" class="text-end fw-bold">
                    {{ "Net à payer"|trans }}
                </td>
                <td class="text-center">
                    <span id="total" class="fw-bold">{{ (total + acompte + tva - reduction)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <input type="hidden" value="{{ total }}" id="totaltamp"/>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="container mt-4 mb-5 pt-3 pb-3 fond-7">
        <div class="centrer">
            <div class="row">

            {{ include('commande/_confirmation.html.twig')}}

                {# <a id="valid" onclick="load('valid')" href="{{ path('commande_panier_valider') }}"
                   class="ms-3 btn btn-success float-end">
                    <i class="fa fa-money-bill"></i>
                    {{ "Valider"|trans }}
                </a> #}


            </div>
        </div>
    </div>
{% endblock %}

