{% extends 'client.html.twig' %}
{% block title %} {{ "Facture "|trans }} {{ commande.id }}-{{ commande.numerofacture }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}
{% block my_commande %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Détails commande"|trans }}
        </h3>

        <a href="#" onclick="history.back()" class="btn btn-success-light mb-3">
            <i class="fa fa-chevron-left"></i> {{ "Retour"|trans }} </a>
        <h4 class="text-center fw-bold text-uppercase mt-4">
            {{ ' Facture'|trans }}
        </h4>
        <h6 class="text-center text-uppercase">
            {{ 'Numero'|trans }} : {{ commande.id }}-{{ commande.numerofacture }}
        </h6>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <table class="table table-success-light table-bordered table-hover table-striped my-5">
                    <thead>
                    <tr>
                        <th>{{ 'N° Commande'|trans }}</th>
                        <th>{{ 'Date Commande'|trans }}</th>
                        <th>{{ 'Date Traitement'|trans }}</th>
                        <th>{{ 'NIU'|trans }}</th>
                        {% if commande.credit == 1 and commande.payer == 0 %}
                            <th>{{ 'Date d\'echeance '|trans }}</th>
                        {% endif %}
                        <th>{{ 'Status Commande'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date|date('d/m/Y H:is') }}</td>
                    <td>{{ commande.traitement|date('d/m/Y H:i:s') }}</td>
                    <td>{{ commande.user.niu }}</td>
                    {% if commande.credit == 1 and commande.payer == 0 %}
                        <td> {{ commande.echeance ? commande.echeance|date('d/m/Y'): '' }}</td>
                    {% endif %}
                    <td class="text-bold">
                        {% if commande.payer == 0 %}
                            <span class="text-danger">Non payée</span>
                        {% else %}
                            <span class="text-success">Payée</span>
                        {% endif %}
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
        {% set total=0 %}
        {% set reduction=0 %}
        {% set tva=0 %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100 my-4">
            <thead>
            <tr>
                <th>{{ 'CIP'|trans }}</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'Quantité'|trans }}<br>{{ 'commandée'|trans }}</th>
                <th>{{ 'Quantite'|trans }}<br>{{ 'livrée'|trans }}</th>
                <th>{{ 'Prix Cession'|trans }}</th>
                <th>{{ 'Réduction'|trans }}</th>
                <th>{{ 'TVA'|trans }}</th>
                <th>{{ 'Prix Public'|trans }}</th>
                <th>{{ 'Montant'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for commandeproduit in commandeproduits %}
                {% set reductionproduit = 0 %}
                <tr>
                    <td> {{ commandeproduit.produit.reference }} </td>
                    <td>{{ commandeproduit.produit.desigantion }} </td>
                    <td>
                        {{ commandeproduit.quantitecommande ? commandeproduit.quantitecommande : commandeproduit.quantite }}
                        {% if commandeproduit.ug != 0 %}
                            <span class="badge bg-danger">
                                <br>
                                + {{ commandeproduit.ug }} U.G
                            </span>
                        {% endif %}

                    </td>
                    <td>
                        {% if commande.suivi %}
                            {{ commandeproduit.quantite }}
                        {% else %}
                            {% if commandeproduit.produit.stock > commandeproduit.quantite %}
                                {{ commandeproduit.quantite }}
                            {% else %}
                                {{ commandeproduit.produit.stock }}
                            {% endif %}
                        {% endif %}
                        
                    </td>
                    <td class="montant noExport">
                        {{ commandeproduit.session|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}

                    </td>
                    <td>
                        {% if commandeproduit.promotion is not null %}
                            {% if commandeproduit.promotion.reduction is not null %}
                                {% set reductionproduit =  commandeproduit.quantite * commandeproduit.session * commandeproduit.promotion.reduction /100 %}

                                {% set reduction =  reduction + reductionproduit %}
                                <span class="badge bg-danger">
                                    -{{ commandeproduit.session * commandeproduit.promotion.reduction /100 }} F
                            </span>
                            {% else %}
                                -
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if commandeproduit.tva != 0 %}
                            {% set tva = tva + (((commandeproduit.quantite * commandeproduit.session) - reductionproduit) * 0.1925) %}
                            {% if commandeproduit.promotion is not null %}
                                {% if commandeproduit.promotion.reduction is not null %}
                                    {{ (commandeproduit.session - (commandeproduit.session * commandeproduit.promotion.reduction /100)) * 0.1925 }}
                                {% else %}
                                    {{ commandeproduit.session  * 0.1925 }}
                                {% endif %}
                            {% else %}
                                {{ commandeproduit.session  * 0.1925 }}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="montant">{{ commandeproduit.publique|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td class="montant">
                        {{ (commandeproduit.quantite * commandeproduit.session)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}
                        {% set total = total + (commandeproduit.quantite * commandeproduit.session) %}
                    </td>
                </tr>
            {% endfor %}
            <tbody>
            <tfoot>
            <tr class="fw-bold">
                <td colspan="8" class="text-end">
                    {{ "Total HT"|trans }}
                </td>
                <td class="montant">
                    <span id=""
                          class="text-nowrap">{{ total|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                </td>
            </tr>
            {% if reduction != 0 %}
                <tr>
                    <td colspan="8" class="text-end">
                        {{ "Total Réduction"|trans }}
                    </td>
                    <td class="montant">
                        <span id=""
                              class="text-nowrap">{{ reduction|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Total TVA"|trans }}
                </td>
                <td class="montant">
                    <span id=""
                          class="text-nowrap">{{ tva|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-end">
                    {{ "Prélèvement (2%)"|trans }}
                </td>
                <td class="text-center">

                    <span id="">{{ commande.acompte != 0 ? commande.acompte|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') : '' }}</span>
                    <input type="hidden" value="{{ tva }}" id="totaltamp"/>
                </td>
            </tr>

            <tr class="fw-bold">
                <td colspan="8" class="text-end">
                    {{ "Net à payer"|trans }}
                </td>
                <td class="montant">
                    <span class="text-nowrap">{{ (total + commande.acompte + tva - reduction)|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</span>
                    <span id="total" class="text-nowrap"
                          style="display:none;">{{ (total + commande.acompte + tva - reduction)|number_format(2, '.' , '') }}</span>
                </td>
            </tr>
            </tfoot>
        </table>

        {# Conversion prix en lettre #}
        <div class="my-5">
            {{ 'Arrêtée la présente à la somme de '|trans }} <b id="conversion"></b><b id="virgule"></b> <b>franc CFA
                TTC</b>
        </div>
        {# /***** end*****/ #}
    </div>

    <table class="table table-success-light table-bordered table-hover table-striped w-100 my-4" id="facture"
           style="display:none;">
        <thead>
        <tr>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Numero Facture'|trans }}</th>
            <th>{{ 'Numero Ligne'|trans }}</th>
            <th>{{ 'Code Interne'|trans }}</th>
            <th>{{ 'Code Cip'|trans }}</th>
            <th>{{ 'Code CIP Alternatif'|trans }}</th>
            <th>{{ 'Description'|trans }}</th>
            <th>{{ 'Laboratoire'|trans }}</th>
            <th>{{ 'Quantite Demandee'|trans }}</th>
            <th>{{ 'Quantitee livree'|trans }}</th>
            <th>{{ 'Unite Gratuite'|trans }}</th>
            <th>{{ 'Prix de Cession Hors Taxe'|trans }}</th>
            <th>{{ 'Taux Taxe'|trans }}</th>
            <th>{{ 'Prix public'|trans }}</th>
            <th>{{ 'Prix TTC'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for commandeproduit in commandeproduits %}
            {% set ug = 0 %}
            {% set reductionproduit = 0 %}
            <tr>
                <td> {{ commande.date|date('d/m/Y') }} </td>
                <td> {{ commande.id }}-{{ commande.numerofacture }} </td>
                <td></td>
                <td> {{ commandeproduit.produit.id }} </td>
                <td> {{ commandeproduit.produit.reference }} </td>
                <td> {{ commandeproduit.produit.alternatif }} </td>
                <td> {{ commandeproduit.produit.desigantion }} </td>
                <td> {{ commandeproduit.produit.Fabriquant }} </td>
                <td>
                    {{ commandeproduit.quantitecommande ? commandeproduit.quantitecommande : commandeproduit.quantite }}

                </td>
                <td>
                    {% if commande.suivi %}
                        {{ commandeproduit.quantite }}
                    {% else %}
                        {% if commandeproduit.produit.stock > commandeproduit.quantite %}
                            {{ commandeproduit.quantite }}
                        {% else %}
                            {{ commandeproduit.produit.stock }}
                        {% endif %}
                    {% endif %}

                </td>
                <td>
                    {% if commandeproduit.ug != 0 %}
                        + {{ commandeproduit.ug }}
                    {% endif %}
                </td>
                <td>
                    {{ commandeproduit.session }}

                </td>
                <td>
                    {% set tva= 0 %}
                    {% if commandeproduit.produit.tva is true %}
                        19,25 {% set tva= 0.1925 %}%
                    {% else %}
                        {{ tva }}%
                    {% endif %}
                </td>
                <td>{{ commandeproduit.publique }}</td>
                <td>
                    {% if commandeproduit.produit.tva is true %}
                        {{ commandeproduit.publique + commandeproduit.publique * tva }}
                    {% else %}
                        {{ commandeproduit.session }}
                    {% endif %}

                </td>

            </tr>
        {% endfor %}
        <tbody>

    </table>
    <input type="hidden" id="numfact" value="{{ commande.id }}-{{ commande.numerofacture }}"/>
    <div class="container mb-5 p-3 fond-5">
        <div class="centrer gap-3">
            <a id="print" onclick="load('print')"
               href="{{ path('commande_panier_print_Detail',{'commande': commande.id }) }}"
               class="btn btn-success">
                <i class="fa fa-print"></i>
                {{ "Imprimer"|trans }}
            </a>
            <a id="print" target="_blank"
               href="{{ path('commande_panier_print_Detail_pdf',{'commande': commande.id }) }}"
               class="btn btn-danger">
                <i class="fa fa-file-pdf"></i>
                {{ "Vers Pdf"|trans }}
            </a>
            <span id="exportexcel" class=""></span>
        </div>
    </div>

{% endblock %}