{% extends 'client.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}
{% block commande_extranet %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Commandes extranet"|trans }}
        </h3>
{#        <ul class="nav nav-tabs mb-4">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link active" href="#">En attente de validation</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ path('commande_panier_history') }}">Commandes déjà payées</a>#}
{#            </li>#}
{#        </ul>#}

        <table class="table table-success-light table-bordered table-hover table-striped w-100 mt-4" id="liste">
            <thead>
            <tr>
                <th>{{ 'Numero Commande'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                {% if is_granted("ROLE_CLIENT_ADMIN") %}
                    <th>{{ 'Passé par'|trans }} </th>
                {% endif %}
                <th>{{ 'Montant'|trans }}</th>
                <th>Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date|date('d/m/Y H:i:s') }}</td>
                   
                    <!-- <td> {{ commande.user.nom }}</td> -->
                    
                    {% if is_granted("ROLE_CLIENT_ADMIN") %}
                    <td>{{ commande.pharmaemploye ? commande.pharmaemploye.nom ~" "~ commande.pharmaemploye.prenom : commande.user.nom }}</td>
                    {% endif %}
                    <td>{{ commande.montant|number_format(2, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }}</td>
                    <td>
                        {# <a id="{{ commande.id }}" onclick="load('commande.id')" href="{{ path('commande_panier_Detail_extranet', {'commande' : commande.id}) }}" class="btn btn-success"> #}
                        <a id="{{ commande.id }}" onclick="load('commande.id')" href="{{ path('commande_panier_Detail', {'commande' : commande.id}) }}" class="btn btn-success">
                            <i class="fa fa-list"></i>
                            {{ 'Détails'|trans }}
                        </a>
                        <a id="print" target="_blank" href="{{ path('commande_panier_print_Detail_pdf',{'commande': commande.id }) }}"
                   class="btn btn-danger ms-2">
                    <i class="fa fa-file-pdf"></i>
                </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
