{{ form_start(form, {'attr': {'id': 'form'}}) }}


    {% for message in app.flashes('notice') %}
        <div role="alert" class="alert alert-danger alert-dismissible fade show radius-10 shadow-black">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message|trans }}
        </div>
    {% endfor %}

<div class="row gap-4">
    <div class="col-12">
        {{ form_row(form.employe, {'attr': {'placeholder': 'Sélectionnez l\'employé *'}, 'label': 'Sélectionnez l\'employé *'}) }}
    </div>

    <div class="col-12">
        {{ form_row(form.typeContrat, {'attr': {'placeholder': 'Sélectionnez le type de contrat *'}, 'label': 'Sélectionnez le type de contrat *'}) }}
    </div>
    <div class="col-12">
        {{ form_row(form.dateDebut, {'attr': {'tittle': 'Date debut contrat ... *'}, 'label': 'Date debut contrat *'}) }}
    </div>
    <div class="col-12">
        {{ form_row(form.dateFin, {'attr': {'tittle': 'Date fin contrat ... '}, 'label': 'Date fin contrat'}) }}
    </div>
</div>

{{ form_rest(form) }}
{#
</div>

{{ form_end(form) }}
#}
