{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Tous les clients"|trans }} - GNT Pharma {% endblock %}
{% block client %}active{% endblock %}
{% block client_suivi %} active{% endblock %}
{% block all_client %}active{% endblock %}
{% block body %}
    <div class="container-fluid mt-4 fond-7">
        <h4 class="fw-bold mt-3 mb-5">
            <i class="fa fa-user-tag"></i>
            {{ "Tous les clients"|trans }}
        </h4>
        {#{% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black mb-5">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}#}
        {% for message in app.flashes('notice') %}
            <div class="col-lg-12 my-4">
                <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
                    {{ message|trans }}
                </div>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_FINANCE') %}
            <a class="btn btn-green mb-4" href="{{ path('client_new') }}">
                <i class="fa-solid fa-user-tag"></i><i class="fa-solid fa-plus"></i>
                {{ 'Nouveau client'|trans }}
            </a>
        {% endif %}
        <table class="table table-success-light table-bordered table-hover table-striped my-3" id="affichage">
            <thead>
            <tr>
                <th>{{ 'Nº Compte'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th>{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                {# <th>{{ 'Adresse'|trans }}</th>
                <th>{{ 'Prelevement'|trans }}</th>
                <th class="text-center">
                    {{ 'Statut'|trans }}
                </th> #}
                <th class="text-center">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for client in client %}
            <tr>
                <td data-label="Nº Compte">{{ client.compte }}</td>
                <td data-label="Nom">{{ client.nom }}</td>
                <td data-label="Prénom">{{ client.prenom }}</td>
                <td data-label="Téléphone">{{ client.phone }}</td>
                <td data-label="Email">{{ client.email }}</td>
                {# <td data-label="Adresse">{{ client.adresse }}</td>
                <td data-label="Prelevement"  class="text-center">{{ client.prelevement ? 'OUI' : 'NON' }}</td>
                <td data-label="Statut" class="text-center" id="statut{{ client.id }}">
                    {% if client.enabled == 1 %}
                        {{ "Actif"|trans }}
                    {% else %}
                        {{ "Inactif"|trans }}
                    {% endif %}
                </td> #}
                <td data-label="Actions" class="text-center">
                    <a href="{{ path('client_show', {'id': client.id}) }}" class="btn btn-success-light" id="{{client.id}}" onclick="load({{client.id}})"
                       title="{{ "Afficher"|trans }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    {# {% if client.enabled == 1 %}
                        <button class="btn btn-danger" id="btn{{ client.id }}" onclick="userdisable({{ client.id }})" title="{{ "Désactiver ce client"|trans }}">
                            <i class="fa fa-user-lock"></i>
                        </button>
                    {% else %}
                        <button class="btn btn-green" id="btn{{ client.id }}" onclick="userenable({{ client.id }})" title="{{ "Activer ce client"|trans }}">
                            <i class="fa fa-user-check"></i>
                        </button>
                    {% endif %} #}
                </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
     <div class="col-md-12 offset-md-4 mt-5 mb-5 pt-2 pb-2 fond-7">
            <div class="centrer">
             <a target="__blank"href="{{ path('client_index_pdf') }}" class="btn btn-danger">
                    <i class="fa fa-file-pdf"></i>
                    {{ "vers Pdf"|trans }}
                </a>
            
            </div>
        </div>
    {% block scripts %}
        {{ include('client/_script.html.twig') }}
    {% endblock %}
{% endblock %}