{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig' %}

{% block title %} {{ 'Client'|trans }} {% endblock %}
{% block client_suivi %} active{% endblock %}
{% block body %}
    {#    {{ include('security/security/profile-info.html.twig') }} #}


    <div class="col-lg-7 mt-5 mb-5 p-5 fond-7">
        <h3 class="fw-bold mb-5">
            <i class="fa fa-user me-2"></i>
            {{ 'Information Client'|trans }}
        </h3>

        {% for message in app.flashes('notice') %}
            <div class="col-12 mt-4 alert alert-success alert-dismissible fade show radius-10 shadow-black"
                 role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|trans }}
            </div>
        {% endfor %}
        {% if is_granted("ROLE_FINANCE")%}
            {% if user.enabled == 1 %}
                <button class="btn btn-danger me-2 mb-2" id="btn{{ user.id }}" onclick="userdisable({{ user.id }})"
                        title="{{ "Désactiver ce client"|trans }}">
                    <i class="fa fa-user-lock"></i>
                    {{ "Désactiver"|trans }}
                </button>
            {% else %}
                <button class="btn btn-green me-2 mb-2" id="btn{{ user.id }}" onclick="userenable({{ user.id }})"
                        title="{{ "Activer ce client"|trans }}">
                    <i class="fa fa-user-check"></i>
                    {{ "Activer"|trans }}
                </button>
            {% endif %}
            <a class="btn btn-success-light me-2 mb-2" href="{{ path('client_edit', {'id': user.id}) }}" id="edit{{ user.id }}" onclick="load('edit{{user.id}}')">
                <i class="fas fa-user-edit"></i>
                {{ "Modifier"|trans }}
            </a>
        {% endif %}
        <a class="btn btn-success me-2 mb-2" href="{{ path('vente_chiffre_client', {'client': user.id}) }}" id="chif{{ user.id }}" onclick="load('chif{{user.id}}')">
            <i class="fas fa-chart-line"></i>
            {{ "Chiffres"|trans }}
        </a>
        <a class="btn btn-outline-success me-2 mb-2" href="{{ path('commande_panier_releve_client', {'client': user.id}) }}" id="rel{{ user.id }}" onclick="load('rel{{user.id}}')">
            <i class="fa fa-list"></i>
            {{ "Relevé factures"|trans }}
        </a>
        <a class="btn btn-success-light me-2 mb-2" href="{{ path('commande_panier_commande_client', {'client': user.id}) }}" id="com{{ user.id }}" onclick="load('com{{user.id}}')">
            <i class="fa fa-shopping-cart"></i>
            {{ "Commandes"|trans }}
        </a>
        <div class="row">
            <div class="col-lg-3 mt-5 text-center">
                <img src="{{ asset('images/avatar-homme.avif') }}" alt="" class="w-100 img-fluid rounded-3">
            </div>
            <div class="col-lg-9 mt-5">
                <div class="row">
                    <div class="col-lg-3 text-end fw-bold">{{ 'Prénom'|trans }} : &nbsp;</div>
                    <div class="col-lg-9 ms-2 ms-n4">{{ user.prenom }}</div>
                    <div class="col-lg-3 text-end fw-bold">{{ 'Nom'|trans }} : &nbsp;</div>
                    <div class="col-lg-9 ms-n4">{{ user.nom }}</div>
                    <div class="col-lg-3 text-end fw-bold">{{ 'Téléphone'|trans }} : &nbsp;</div>
                    <div class="col-lg-9 ms-n4">{{ user.phone }}</div>
                    <div class="col-lg-3 text-end fw-bold">{{ 'Email'|trans }} : &nbsp;</div>
                    <div class="col-lg-9 ms-n4">{{ user.email }}</div>
                    <div class="col-lg-3 text-end fw-bold">{{ 'Adresse'|trans }} : &nbsp;</div>
                    <div class="col-lg-9 ms-n4">{{ user.adresse }}</div>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ include('client/_script.html.twig') }}
    {% endblock %}
{% endblock %}
