{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Liste des bulletins"|trans }} - GNT Pharma {% endblock %}
{% block paie %}active{% endblock %}
{% block paie_historique %}active{% endblock %}

{% block body %}

<div class="col-lg-10 mt-4 fond-7">

    <h3 class="mt-4 mb-5 fw-bold">
        <i class="fas fa-calendar-alt me-2"></i>
        {{ "Historique de paiement"|trans }}
    </h3>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('paie_historique_mois_en_cours') }}">
                {{'Mois en cours'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('paie_historique') }}">
                {{'Autres'|trans}}
            </a>
        </li>
    </ul>
 {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}
        
    <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
        <thead>
            <tr>
                <th>{{ 'Matricule'|trans }}</th>
                <th>{{ 'Employé'|trans }}</th>
                <th>{{ 'Date paiement'|trans }}</th>
                <th>{{ 'Salaire de base'|trans }}</th>
                <th>{{ 'Salaire net'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for paies in paie %}
            <tr>
                <td>{{ paies.employe.matricule }}</td>
                    <td>{{ paies.employe.nom }} {{ paies.employe.prenom }}</td>
                    <td>{{ paies.datepaye ? paies.datepaye|date('d/m/Y') : ''}}</td>
                    <td>{{ paies.salaireBase|number_format(0, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }} FCFA</td>
                    <td>{{ paies.salaireNet|number_format(0, app.request.locale == 'fr' ? ',' : '.', app.request.locale == 'fr' ? ' ' : ',') }} FCFA</td>
                    <td>
                        <a href="{{ path('paie_historique_show', {'id': paies.id} ) }}" class="btn btn-success"><i
                                    class="fas fa-eye"></i> Details</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}