{% extends
    'pdf.html.twig'
%}

{% block contenu %}
    <table class="table table-success-light table-bordered table-hover table-striped my-3">
        <tr>
            <th rowspan="2">Date</th>
            <th rowspan="2">Type</th>
            <th rowspan="2">Piece</th>
            <th rowspan="2">Tiers</th>
            <th colspan="2">Quantités en stock</th>
            <th rowspan="2">C.M.U.P. unitaire</th>
            <th rowspan="2">Stock permanent</th>
        </tr>
        <tr>
            <th>+/-</th>
            <th>Solde</th>
        </tr>
        
        {% set total = 0 %}
        {% for produit in produits %}
            <tr>
                <th>{{ produit.reference }}</th>
                <td></td>
                <td></td>
                <th>{{ produit.desigantion}}</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% set stocks = mouvement(produit, day1, day2) %}
            {% set solde = 0%}
        {% set entree = 0%}
        {% set commande = 0%}
        {% set livre = 0%}
        {% set tableau = [] %}
        {% set totalprod = 0 %}
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.date|date("d/m/Y") }}</td>
                <td>
                     {% if  stock.fournisseur is defined %}
                        appro.
                    {% else %}
                       liv.
                    {% endif %}
                </td>
                <td>
                     {% if  stock.fournisseur is defined %}
                        {{ stock.approvisionner.id }}
                    {% else %}
                        {{ stock.livrer.id }}
                    {% endif %}
                </td>
                <td>
                    {% if  stock.fournisseur is defined %}
                        {{ stock.fournisseur ? stock.fournisseur.designation : stock.approvisionner.retour.commande.user.nom }}
                    {% else %}
                        {{ stock.commande.user.nom }}
                    {% endif %}
                </td>
                <td>
                    {% if  stock.fournisseur is defined %}
                        {{ stock.quantite|number_format(0,',' , ' ') }}
                        {% set quantite = stock.quantite %}
                        {% set entree = entree + stock.quantite %}
                        {% set solde = solde + stock.quantite %}
                    
                    {% else %}
                     -   {{ stock.quantitelivrer|number_format(0,',' , ' ') }}
                      {% set quantite = stock.quantitelivrer %}
                       
                        {% set livre = livre + stock.quantitelivrer %}
                        {% set solde = solde - stock.quantitelivrer %}
                    {% endif %}
                </td>
                <td>
                    {{ solde|number_format(0,',' , ' ') }} 
                </td>
                <td>
                    {% if  stock.fournisseur is defined %}
                        
                     {{ stock.pght|number_format(2,',' , ' ')}} 
                    {% else %}
                     {{ stock.produit.prix|number_format(2,',' , ' ')}} 
                    {% endif %}
                  
                </td>
                <td>
                {% if  stock.fournisseur is defined %}
                        
                     {{ (stock.pght * quantite)|number_format(2,',' , ' ') }}
                    {% else %}
                        {{ (stock.produit.prix * quantite)|number_format(2,',' , ' ') }}
                    {% endif %}
                    
                </td>

            </tr>
        {% endfor %}
         <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Total {{ produit.reference}}</th>
                <th></th>
                <th>{{ solde|number_format(0,',' , ' ') }} </th>
                <th> </th>
                <th>
                {% set totalprod = solde * produit.prix %}
                 {% set total = total + totalprod %}
                 {{ totalprod|number_format(2,',' , ' ') }}
                 </th>
            </tr>
            
        {% endfor %}
         <tr>
               
                <th colspan="4" class="text-end">Total General</th>
                <th colspan="2"></th>
                <th> </th>
                <th>
                 {{ total|number_format(2,',' , ' ') }}
                 </th>
            </tr>
    </table>
{% endblock %}
