{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block etat_stock %}active{% endblock %}


{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 fw-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{"Etat stock Produits"|trans}}
        </h3>
        <ul class="nav nav-tabs mb-4">
{# {% if is_granted('ROLE_STOCK') %} #}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_index') }}">
                    {{ 'Disponible'|trans }}
                </a>
            </li>
            {# {% endif %} #}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_surveiller') }}">
                    {{'à surveiller'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_rupture') }}">
                    {{ 'En rupture'|trans }}
                </a>
            </li>
            {# {% if is_granted('ROLE_STOCK') %} #}
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        {{ 'Péremption Imminente'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_sortie_produit') }}">
                    {{ 'Historique de sortie Produit'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_mouvement') }}">
                    {{ 'Mouvement de Stock'|trans }}
                </a>
            </li>
            {# {% endif %} #}
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped my-3" id="liste">
            <thead>
            <tr>
                <th>{{ 'Reference'|trans }}</th>
                <th>{{ 'Désignation'|trans }}</th>
                <th>{{ 'DCI'|trans }}</th>
                <th>{{ 'Fabriquant'|trans }}</th>
                <th>{{'N° Lot'|trans}}</th>
                <th>{{'Péremption'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.produit.reference }}</td>
                    <td>{{ stock.produit.desigantion }}</td>
                    <td>{{ stock.produit.dci }}</td>
                    <td>{{ stock.produit.fabriquant }}</td>
                    <td>{{ stock.lot }}</td>
                    <td>{{ stock.peremption|date('d/m/Y') }}</td>
                </tr>
            {% else %}

            {% endfor %}
            </tbody>
        </table>
        <div class="centrer gap-3  m-4 fond-7">
            <button id="exportExcel" class="btn btn-green">
                <i class="fa fa-file-excel"></i> Exporter Excel
            </button>
            <button id="exportPdf" class="btn btn-danger">
                <i class="fa fa-file-pdf"></i> Exporter PDF
            </button>
            {# <a href="#" class="btn btn-success-light me-2">
                <i class="fa fa-print"></i> Imprimer
            </a> #}
        </div>
    </div>
    </div>
{% endblock %}
