{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_SUPERVISEUR') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_CAISSIER') ? 'caisse.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    is_granted('ROLE_LABORATOIRE') ? 'laboratoire.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block stock %}active{% endblock %}
{% block etat_stock %}active{% endblock %}

{% block body %}
<div class="container mt-4 fond-7">
    <h3 class="mt-4 mb-5 fw-bold">
        <i class="fa fa-shopping-cart me-2"></i>
        {{ "Etat stock produits"|trans }}
    </h3>
    <ul class="nav nav-tabs mb-4">
        {# {% if is_granted('ROLE_STOCK') %} #}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('stock_index') }}">
                {{ 'Disponible'|trans }}
            </a>
        </li>
        {# {% endif %} #}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('stock_surveiller') }}">
                {{'à surveiller'|trans}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('stock_rupture') }}">
                {{ 'En rupture'|trans }}
            </a>
        </li>
        {# {% if is_granted('ROLE_STOCK') %} #}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('stock_peremption') }}">
                    {{ 'Péremption Imminente'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">
                    {{ 'Historique de sortie Produit'|trans }}
                </a>
            </li>
        {# {% endif %} #}
    </ul>

    <table class="table table-success-light table-bordered table-hover table-striped my-3">
        <thead>
        <tr>
            <th colspan="8" class="text-center">{{ produit.reference~ " -  "~ produit.desigantion }}</th>
        </tr>
        <tr>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Piece'|trans }}</th>
            <th>{{ 'Tiers'|trans }}</th>
            <th>{{ 'Entree stock'|trans }}</th>
            <th>{{ 'Quatité commandée'|trans }}</th>
            <th>{{ 'Quatité livrée'|trans }}</th>
            <th>{{ 'Solde'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set solde = 0%}
        {% set entree = 0%}
        {% set commande = 0%}
        {% set livre = 0%}
        {% set tableau = [] %}
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.date|date("d/m/Y") }}</td>
                <td>
                     {% if  stock.fournisseur is defined %}
                        appro.
                    {% else %}
                       liv.
                    {% endif %}
                </td>
                <td>
                     {% if  stock.fournisseur is defined %}
                        {{ stock.approvisionner.id }}
                    {% else %}
                        {{ stock.livrer.id }}
                    {% endif %}
                </td>
                <td>
                    {% if  stock.fournisseur is defined %}
                        {{ stock.fournisseur ? stock.fournisseur.designation : stock.approvisionner.retour.commande.user.nom }}
                    {% else %}
                        {{ stock.commande.user.nom }}
                    {% endif %}
                </td>
                <td>
                 {% if  stock.fournisseur is defined %}
                        {{ stock.quantite|number_format(0,',' , ' ') }}
                        {% set entree = entree + stock.quantite %}
                        {% set solde = solde + stock.quantite %}
                   
                {% endif %}
                </td>
                <td>
                    {% if  stock.quantitecommander is defined %}
                        {{ stock.quantitecommander|number_format(0,',' , ' ') }}
                        {% if stock.commande.id not in tableau %}
                            {% set tableau = tableau|merge([stock.commande.id]) %}
                            {% set commande = commande + stock.quantitecommander %}
                        {% endif %}
                   
                    {% endif %}
                </td>
                <td>
                     {% if  stock.quantitelivrer is defined %}

                        {{ stock.quantitelivrer|number_format(0,',' , ' ') }}
                        {% set livre = livre + stock.quantitelivrer %}
                        {% set solde = solde - stock.quantitelivrer %}
                    {% endif %}
                </td>
                <td>
                    {{ solde|number_format(0,',' , ' ') }} 
                </td>

            </tr>
        {% endfor %}
        </tbody>
        <tfooter>
            <tr>
                <th colspan="4"> Totaux </th>
                <th> {{ entree|number_format(0,',' , ' ') }} </th>
                <th> {{ commande|number_format(0,',' , ' ') }} </th>
                <th> {{ livre|number_format(0,',' , ' ') }} </th>
                <th>
                     {{ solde|number_format(0,',' , ' ') }}
                 </th>
            </tr>
        </tfooter>
    </table>
    <div class="centrer gap-3  m-4 fond-7">
             <table class="table table-success-light table-bordered table-hover table-striped my-3" id="facture" style="display:none;">
         <thead>
        <tr>
        <th></th>
            <th colspan="8" class="text-center">{{ produit.reference~ " -  "~ produit.desigantion }}</th>
        </tr>
        <tr>
            <th></th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Piece'|trans }}</th>
            <th>{{ 'Tiers'|trans }}</th>
            <th>{{ 'Entree stock'|trans }}</th>
            <th>{{ 'Quatité commandée'|trans }}</th>
            <th>{{ 'Quatité livrée'|trans }}</th>
            <th>{{ 'Solde'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set ord = 1%}
        {% set solde = 0%}
        {% set entree = 0%}
        {% set commande = 0%}
        {% set livre = 0%}
        {% set tableau = [] %}
        {% for stock in stocks %}
            <tr>
                <td>{{ ord }}{% set ord = ord + 1 %}</td>
                <td>{{ stock.date|date("d/m/Y") }}</td>
                <td>
                     {% if  stock.fournisseur is defined %}
                        appro.
                    {% else %}
                       liv.
                    {% endif %}
                </td>
                <td>
                     {% if  stock.fournisseur is defined %}
                        {{ stock.approvisionner.id }}
                    {% else %}
                        {{ stock.livrer.id }}
                    {% endif %}
                </td>
                <td>
                    {% if  stock.fournisseur is defined %}
                        {{ stock.fournisseur ? stock.fournisseur.designation : 'Retour Produit' }}
                    {% else %}
                        {{ stock.commande.user.nom }}
                    {% endif %}
                </td>
                <td>
                 {% if  stock.fournisseur is defined %}
                        {{ stock.quantite }}
                        {% set entree = entree + stock.quantite %}
                        {% set solde = solde + stock.quantite %}
                   
                {% endif %}
                </td>
                <td>
                    {% if  stock.quantitecommander is defined %}
                        {{ stock.quantitecommander }}
                         {% if stock.commande.id not in tableau %}
                            {% set tableau = tableau|merge([stock.commande.id]) %}
                            {% set commande = commande + stock.quantitecommander %}
                        {% endif %}
                   
                    {% endif %}
                </td>
                <td>
                     {% if  stock.quantitelivrer is defined %}

                        {{ stock.quantitelivrer }}
                        {% set livre = livre + stock.quantitelivrer %}
                        {% set solde = solde - stock.quantitelivrer %}
                    {% endif %}
                </td>
                <td>
                    {{ solde }} 
                </td>

            </tr>
        {% endfor %}
        </tbody>
        <tfooter>
            <tr>
                <th colspan="5"> Totaux </th>
                <th> {{ entree }} </th>
                <th> {{ commande }} </th>
                <th> {{ livre }} </th>
                <th>
                     {{ solde }}
                 </th>
            </tr>
        </tfooter>
    </table>
      <span id="exportexcel" class=""></span>
        </div>
    </div>
</div>
{% endblock %}
