{% extends 'security.html.twig' %}
{% block title %} {{ 'Connexion'|trans }} - GNT Pharma {% endblock %}
{% block body %}
    <div class="col-12">
        {% for message in app.flashes('change') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show mt-4 shadow-5" role="alert">
                {{ message|trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade show mt-4 shadow-5" role="alert">
                {{ message|trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% if error %}
            
            {% if  error.message == "Votre compte est désactivé." %}
            <div role="alert" class="alert alert-danger alert-dismissible fade show mt-4 shadow-5" role="alert">
                {{ 'Votre compte est désactivé. Veuillez contacter les responsables de GNT Pharma'|trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div role="alert" class="alert alert-danger alert-dismissible fade show mt-4 shadow-5" role="alert">
                {{ 'Adresse email ou mot de passe incorrecte'|trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <form action="{{ path('security_login') }}" method="POST" class="mt-4" id="form">
        <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
            <div class="form-floating">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                       autocomplete="username" placeholder="{{ 'Adresse email'|trans }}" required autofocus>
                <label for="inputUsername">{{ 'Adresse email'|trans }}</label>
            </div>
        </div>

        <div class="input-group mb-4">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
            <div class="form-floating">
                <input type="password" name="password" placeholder="{{ 'Mot de passe'|trans }}" id="inputPassword"
                       class="form-control" autocomplete="current-password" required>
                <label for="inputPassword">{{ 'Mot de passe'|trans }}</label>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-floating mb-2">
            <a href="{{ path('security_forgotten_password') }}">
                {{ 'Mot de passe oublié'|trans }}
            </a>
        </div>
        <div class="mb-4">
            <a href="{{ path('Accueil') }}">
                <i class="fa-solid fa-circle-arrow-left"></i>
                {{ 'Retour au site'|trans }}
            </a>
        </div>
        <button id="valider" type="button" onclick="sub()" class="btn btn-shadow btn-green px-4">
            {{ 'Se connecter'|trans }}
            <i class="fa fa-sign-in-alt"></i>
        </button>
    </form>
    <script>
        document.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                sub();
            }
        });

        function sub() {
            if ($("#inputPassword").val() !== '' && $("#inputUsername").val() !== '') {
                $("#valider").html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                $("#form").submit();
            } else {
                alert("{{ 'Veuillez renseignez tous les champs'|trans }}");
            }
        }
    </script>

{% endblock %}
